.valeur-title {
  font-family: "Century Gothic Bold";
  color: var(--font-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.valeur-text {
  font-family: "Century Gothic";
  color: var(--main-font-color);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.valeur-button {
  border-radius: 50px;
  background: none;
  border: solid 2px var(--main-font-color);
  padding: 10px 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.valeur-button-text {
  font-family: "Century Gothic Bold";
  color: var(--main-font-color);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  margin: 0;
}

.valeur-image {
  margin-bottom: 40px;
  width: 100vw;
  max-inline-size: none;
  margin-left: -12px;
}

@media (min-width: 576px) {
  .valeur-title {
    margin-top: 40px;
  }

  .valeur-image {
    margin-left: calc((100vw - 540px) / -2);
  }
}

@media (min-width: 768px) {
  .valeur-title {
    margin-top: 70px;
  }

  .valeur-image {
    margin-left: 0;
    margin-top: 100px;
    width: 50vw;
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .valeur-title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .valeur-text {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 40px;
  }

  .valeur-button {
    padding: 14px 24px;
    display: block;
    margin: 0;
    margin-bottom: 100px;
  }

  .valeur-button-text {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  .valeur-image {
    margin-left: 0;
    margin-top: 100px;
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .valeur-title {
    margin-top: 120px;
  }

  .valeur-image {
    margin-bottom: 100px;
  }
}
