/* ====================================
// css variables
// ==================================== */
:root {
  --main-color: #bf7272;
  --font-color: #f6acb6;
  --main-font-color: #000000;
}
/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

header {
  background-image: url(../img/leamo-header.webp);
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

h1 {
  font-family: "Archivo Black";
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 15px;
  text-align: center;
}

h3 {
  font-family: "Century Gothic Bold";
  color: var(--font-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4px;
  margin-top: 50px;
  margin-bottom: 10px;
}

p {
  font-family: "Century Gothic";
  color: var(--main-font-color);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

button {
  border-radius: 50px;
  background: none;
  border-width: 2px;
  padding: 12px 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

button a {
  font-family: "Century Gothic Bold";
  color: var(--main-font-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
}
