@import "base";
@import "layout";
@import "bootstrap/scss/bootstrap-grid";
@font-face {
  font-family: "Century Gothic";
  src: url("../font/CenturyGothic.woff2") format("woff2"),
    url("../font/CenturyGothic.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Century Gothic Bold";
  src: url("../font/CenturyGothic-Bold.woff2") format("woff2"),
    url("../font/CenturyGothic-Bold.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Archivo Black";
  src: url("../font/ArchivoBlack-Regular.woff2") format("woff2"),
    url("../font/ArchivoBlack-Regular.woff") format("woff");
  font-display: fallback;
}
@import "modules/navigation";
@import "modules/valeur";
@import "modules/crafts";
@import "modules/cocktails";
@import "swiper/swiper";
@import "modules/alterfood";
@import "modules/shop";
